.recetas {
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}

@media screen and (max-width: 922px) {
    .recetas {
        padding: 5rem 0 0 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .recetas {
        padding: 5rem 0 0 1rem;
    }
}