.persona {
    display: flex;
    flex-direction: column;
}

.personas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

@media screen and (max-width: 768px) {
    .persona {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .personas {
        flex-direction: column;
    }
}